<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Market Place</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <style>
      #banner {
        width: 100%;
        height: 600px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Flask Market Place</h1>
      <img class="img-fluid" id="banner" src="/static/banner.jpg" />
      <h2 class="text-center mt-4 mb-4">About Flask Market Place</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed
        dolor sodales, egestas augue id, consectetur sapien. Aenean quis diam
        turpis. Morbi neque lacus, mollis molestie rhoncus in, mattis ac diam.
        Duis efficitur, dui eget laoreet tempor, urna ipsum pretium diam, eu
        ullamcorper justo quam pulvinar nisl. Sed tempus, eros a ornare maximus,
        neque nulla convallis ante, eu pellentesque augue tortor nec justo.
        Mauris non sagittis ligula, id interdum erat. Vivamus non nisi sit amet
        justo ultrices molestie quis ac dui. Suspendisse pretium urna imperdiet,
        congue nisl vitae, lobortis elit. Ut ac fermentum nulla. Aenean lectus
        massa, malesuada nec erat a, placerat scelerisque lorem. Cras fermentum
        elit eget scelerisque tincidunt. Pellentesque elementum lacus sit amet
        tincidunt volutpat. Quisque hendrerit, tellus eget ultrices porta, nisi
        elit tempor felis, nec volutpat nisl dolor ut augue.
      </p>
      <h2 class="text-center mt-2 mb-4">Available Items</h2>
      <div>
        {% for item in items %}
          {% include 'items.html'%}
        {% endfor %}
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2023, Robbie Thomas</p>
      </div>
    </div>
  </body>
</html>
